# -------------------------------------
# Magic Unscrambler Word Requirements
# Updated 4/27/2021
#
# - Kirima2nd
# -------------------------------------

keyboard 
pyperclip 
aiohttp 
aiofiles
python-Levenshtein
