# -------------------------------------
# Magic Unscrambler Word Requirements
# Updated 4/24/2021
#
# - Kirima2nd
# -------------------------------------
mouse 
keyboard 
pyperclip 
aiohttp 
aiofiles
